.main_container {
  background-color: var(--white);
  width: 1194px;
}
.main_container h2 {
  background-color: var(--base-color);
  border: 4px dashed var(--primary-color);
  line-height: 35px;
  font-size: 32px;
  width: 592px;
}

.main_container p {
  line-height: 29px;
  font-size: 24px;
}

.elements_container {
  background-color: var(--green);
  border: 4px dashed var(--aqua-color);
}

.lesson {
  background-image: url(/src/assets/images/lesson.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 1025px;
  height: 160px;
}
