.main_container {
  background-color: var(--white);
  width: 1194px;
}
.main_container > div > p.rounded-pill.py-1.m-auto.fw-normal {
  line-height: 35px;
  font-size: 32px;
}

.main_container p,
.guesses {
  line-height: 29px;
  font-size: 24px;
}
.main_container > div > div > div > figure:nth-child(1) > img,
.main_container > div > div > div > figure:nth-child(2) > img {
  padding: 1rem;
  border: 4px dashed var(--ash);
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

#guesses {
  border: 4px dashed var(--ash);
}
.setting {
  background-color: var(--green);
  border: 4px dashed var(--aqua-color);
}
.setting > p > img {
  width: 34.72px;
}

@media only screen and (max-width: 768px) {
  .main_container > div > div > form > div > div > img {
    width: 34.72px;
  }
}
