.main_container {
  background-color: var(--white);
  width: 1065px;
}
.main_container h2 {
  background-color: var(--base-color);
  border: 4px dashed var(--primary-color);
  line-height: 35px;
  font-size: 32px;
}

.main_container p {
  line-height: 29px;
  font-size: 24px;
}

@media only screen and (max-width: 426px) {
  .main_container h2,
  .main_container p,
  #root > div > .main_container > div > div > p {
    line-height: 20px;
    font-size: 16px !important;
  }
  .elements_container > img {
    display: none;
  }
  .main_container > div > div > div > img {
    width: 90px;
  }
  div.lesson {
    background-image: none;
    padding-top: 0 !important;
    padding-inline: 0 !important;
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .main_container {
    width: 85%;
    padding-inline: 0.7rem !important;
  }
  .main_container > div > div > div.lesson > p {
    font-size: 14px;
    line-height: 20px;
  }
  .lesson {
    padding-top: 2.8rem !important;
    padding-left: 1.5rem;
  }
  .lesson > p:nth-child(2),
  .lesson > p:nth-child(1) {
    margin-bottom: 0 !important;
  }
}
