.app_container {
  background-color: var(--primary-color) !important;
  height: 100%;
  width: 100%;
}

.main {
  width: 100%;
}
#footer {
  width: 1194px !important;
  margin: auto;
}

.btn {
  background-color: #cd3f97 !important;
}
