.app_container {
  background-color: var(--primary-color) !important;
  height: 100%;
  width: 100%;
}

#navigator {
  width: 1025px !important;
  margin: auto;
}
.Btn {
  background-color: transparent;
}

.btn {
  background-color: #cd3f97 !important;
}

@media only screen and (max-width: 768px) {
  #navigator {
    width: 90% !important;
    margin: auto;
  }
}
